.step-text{
    width: 97%;
}

.nav-steps li .step-content {
    padding: 10px 0 10px 20px;
}

.nav-steps li {
    float: left;
    width: 14.09%;
}

/*steps responsive design*/

@media (max-width: 991px) {

  .nav-steps li{
    width: 20%
  }

}

@media (max-width: 630px) {
  .nav-steps .step-content{
    margin-top: 5px;
  }

  .nav-steps li{
    width: 33%
  }
}

@media (max-width: 391px){
  .nav-steps li{
    width: 50%
  }
}