
.steps-container {
	width: 100%;
        margin: 4px 0;
}
.steps {
	padding: 1px 0;
	overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

}
.steps ul, .steps li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.steps ul { 
        float: left;
        width: 100%;

 }
.steps li {
	float: left;
	width: 27%;
}
.steps li .step-content {
	display: block;
	padding: 15px 20px;
	background: #d0d0d0;
	color: #fff;
	line-height: 1em;
	text-decoration: none;
  text-align:center;
}
.steps li .step-content:hover { background: #666; }
.steps li.step, .steps li.step .step-content {
	position: relative;
	z-index: 4;
        height: 4em;
}
.steps li.step-2, .steps li.step-2 .step-content { z-index: 3; }
.steps li.step-3, .steps li.step-3 .step-content { z-index: 2; }
.steps li.step-4, .steps li.step-4 .step-content { z-index: 1; }

.steps li.step-1 .step-content, .steps li.step-2 .step-content, .steps li.step-3 .step-content , .steps li.step-4 .step-content {
	background: transparent url(step-off.png) center right no-repeat;
        padding-bottom: 4px;
        padding-right: 25px;
        padding-top: 4px;
}
/*.steps li.step:not(.current-step) strong{
   vertical-align: sub;
}

.steps li.step.no-message strong{
   vertical-align: sub;
}
*/
.steps li.current-step .step-content{
        background: transparent url(step.png) center right no-repeat;
}

.step-text{
    display: inline-block;
    line-height: unset;
    text-align: center;
    vertical-align: sub;
    width: 100%;

}
.steps li.step-2, .steps li.step-3, .steps li.step-4 { margin-left: -29px; }
.steps li.step-2 .step-content, .steps li.step-3 .step-content { padding-left: 45px; }
.steps li.step-4 .step-content {
	padding-left: 45px;
	padding-right: 10px;
        background-position: center left;
        width: 113%;
}
/*.steps li.step .step-content:hover { background: transparent url(step_over.png) center right no-repeat; }*/
.steps li.step-4 .step-content:hover { background-position: center left; }
