.nb-iteration{
    position: absolute;
    color: #7cc67c;
    font-size: 53pt;
    margin-top: 76px;
    margin-left: 121px;
}

.step-message{
   font-size: 20px;
   line-height: 25px
}

#steps-messages .popover.bottom{
    top: 53px; 
    display: block; 
    min-width:325px;
    z-index: -1010;
}

#steps-messages .popover.bottom .arrow{
    top: -11px;
    left: 162px
}

#steps-messages #message-step-3.popover.bottom{
    left: 226pt;
    text-align: center;
}

.steps-container {
	width: 100%;
    margin: 4px 0;
}

.steps {
	padding-left: 6px;
    position: unset;
	overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.steps ul, .steps li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-steps li .step-content.active:after {
    border-left-color: steelblue;
}

.nav-steps li .step-content.active {
    background: none repeat scroll 0 0 steelblue;
    color: #fff;
}

.nav-steps li:first-child .step-content:before {
    border: medium none;
}

.nav-steps li:last-child .step-content:after {
    border: medium none;
}

.nav-steps li .step-content:before {
    border-bottom: 25px inset transparent;
    border-left: 20px solid #fafafa;
    border-top: 25px inset transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.nav-steps li .step-content:after {
    border-bottom: 25px inset transparent;
    border-left: 20px solid #565656;
    border-top: 25px inset transparent;
    content: "";
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    z-index: 2;
}

.nav-steps li:first-child .step-content {
    padding-left: 15px;
}

.nav-steps li .step-content {
    background: none repeat scroll 0 0 #565656;
    color: #ffffff;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    min-height: 50px;
}

.nav-steps li {
    color: #404040;
}

.nav-steps li {
    line-height: 20px;
}

.nav {
    list-style: outside none none;
}

.nav-steps {
    font-size: 1em;
    height: 40px;
    margin-top: 5px;
}

.nav {
    list-style: outside none none;
    margin-bottom: 20px;
    margin-left: 0;
}

ul, ol {
    margin: 0 0 10px 25px;
    padding: 0;
}

.nav-steps li .step-content:hover {
    background-color: #dddddd;
    color: #565656;
    cursor: pointer;
}

.nav-steps li .step-content:hover:after {
    border-left: 20px solid #dddddd;
}

.steps li .step-content {
	display: block;
	color: #fff;
	line-height: 1em;
	text-decoration: none;
    text-align:center;
}

.step-text{
    display: inline-block;
    line-height: unset;
    text-align: center;
    vertical-align: sub;
}


/*Sub-steps*/

.sub-steps li.step, .sub-steps li.step .step-content {
	position: relative;
	z-index: 4;
    height: 6.5em;
        
}

.sub-steps li.sub-step-2, .sub-steps li.sub-step-4{
        height: 13.5em;
         width: 90px;
}

.sub-steps li.sub-step-1{
    right: -48px;
    top: 0;
    z-index: 5;

}

.sub-steps li.sub-step-2{
    right: -176px;
    top: -51px;
    z-index: 4;
}

.sub-steps li.sub-step-3{
    left: 35px;
    top: -125px;
    z-index: 3;
}

.sub-steps li.sub-step-4{
    left: 15px;
    top: -351px;
    z-index: 2;
}

.sub-steps .step-text{
    width: 80px;
    color: #325f32;
}

.sub-step-1 .step-text{
    margin-left: 5px;
    margin-top: 5px;
}

.sub-step-2 .step-text{
    margin-top: 55px;
    margin-left:10px;
}

.sub-step-3 .step-text{
    margin-top: 45px;
}

.sub-step-4 .step-text{
    margin-top: 75px;
    margin-left: -25px;
}

.sub-steps {
	padding: 1px 0;
	overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.sub-steps ul, .steps li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sub-steps ul { 
    float: left;
    height: 246px;
    width: 90px;
}

.sub-steps li {
	float: left;
    width: 200px;
}

.sub-steps li .step-content {
	display: block;
	padding: 15px 20px;
	background: #d0d0d0;
	color: #fff;
	line-height: 1em;
	text-decoration: none;
    text-align:center;
}

.sub-steps li.sub-step-1 .step-content{
	background: transparent url(step-pub.png) center right no-repeat;
        background-size: cover;
        padding-bottom: 4px;
        padding-right: 25px;
        padding-top: 4px;
}

.sub-steps li.sub-step-2 .step-content{
	background: transparent url(step-corr.png) center right no-repeat;
        background-size: 90px;
        height: 13.5em;
        padding-bottom: 4px;
        padding-right: 25px;
        padding-top: 4px;
}

.sub-steps li.sub-step-2 .step-content.step-ignored{
    background: transparent url(step-corr-ig.png) no-repeat scroll right center / 90px auto !important;
        background-size: 90px;
        height: 13.5em;
        padding-bottom: 4px;
        padding-right: 25px;
        padding-top: 4px;
}

.sub-steps li.sub-step-3 .step-content {
	background: transparent url(step-imp.png) center right no-repeat;
        background-size: cover;
        padding-bottom: 4px;
        padding-right: 25px;
        padding-top: 4px;
}

.sub-steps li.sub-step-4 .step-content {
	background: transparent url(step-am.png) center right no-repeat;
    background-size: 90px;
    height: 13.5em;
    padding-bottom: 4px;
    padding-right: 25px;
    padding-top: 4px;
}

.sub-steps li.sub-step-4 .step-content.step-ignored {
    background: transparent url(step-am-ig.png) no-repeat scroll right center / 90px auto !important;
    background-size: 90px;
    height: 13.5em;
    padding-bottom: 4px;
    padding-right: 25px;
    padding-top: 4px;
}


.sub-steps li.sub-step-1.off .step-content{
	background: transparent url(step-pub-off.png) center right no-repeat;
    background-size: cover;
}

.sub-steps li.sub-step-2.off .step-content{
	background: transparent url(step-corr-off.png) center right no-repeat;
    background-size: 90px;
}

.sub-steps li.sub-step-2.off .step-content.step-ignored{
    background: transparent url(step-corr-ig-off.png) no-repeat scroll right center / 90px auto !important;
}

.sub-steps li.sub-step-3.off .step-content{
	background: transparent url(step-imp-off.png) center right no-repeat;
    background-size: cover;
}

.sub-steps li.sub-step-4.off .step-content{
	background: transparent url(step-am-off.png) center right no-repeat;
    background-size: 90px;
}

.sub-steps li.sub-step-4.off .step-content.step-ignored{
    background: transparent url(step-am-ig-off.png) no-repeat scroll right center / 90px auto !important;
    background-size: 90px;
}

.step-ignored .step-text{
    display: none !important;
}

.glyphicons-group{
    background: transparent url(glyphicons_043_group.png) center no-repeat;  
    background-size: cover;
    height: 18px;
    width: 25px;
}