*.egg-info
*.pyc
*.swo
*.swp
*~
.installed.cfg
.mr.developer.cfg
__pycache__
bin
# cache # we want the cache directory to be uploaded to the docker engine when building the image
develop-eggs
eggs
node_modules
parts
src
tmp
var
