
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important
}

body {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  margin: 0;
}
