
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important
}

.emoji-mart {
  z-index: 1101 !important;
  max-height: calc(100vh - 60px);
  border: none !important;
}

.emoji-mart-scroll {
  max-height: calc(100vh - 220px);
}

.emoji-mart-bar {
  background-color: #f9f9f9;
}

.emoji-mart-category-label span {
  font-weight: 700 !important;
}

.emoji-mart-search {
  margin-top: 10px;
  padding: 0 8px;
  margin-bottom: 5px;
}

.emoji-mart-category .emoji-mart-emoji span{
  cursor: pointer !important;
}

.emoji-mart-preview-emoji > .emoji-mart-emoji > span {
  width: 27px !important;
  height: 27px !important;
}

.inline-editor .DraftEditor-root{
  font-variant-ligatures: none;
  overflow: auto;
  max-height: 10rem;
  max-width: 100%;
  margin-right: 2px;
  position: relative;
  box-sizing: border-box;
  cursor: text;
  outline: 0;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
}


/* -- MediumEditor */

.md-RichEditor-root{
  background-color: transparent !important;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5 !important;
  letter-spacing: -.003em;
  padding: 0 !important;
}

figure.md-block-image {
  background: transparent !important;
  text-align: center;
}


.md-RichEditor-root .DraftEditor-root {
  overflow: inherit !important;
}


.md-sb-button.md-add-button {
  box-shadow: 0 1px 5px #808080cc;
  border: none !important;
  color: white !important;
  background-color: rgb(33, 150, 243) !important;
  margin-left: -10px;
  padding-top: 4px;
}

.md-sb-button svg path {
  fill: white !important;
}

.md-sb-button:hover {
  border: 1px solid rgb(33, 150, 243);
  color: white !important;
  background-color: rgb(33, 150, 243) !important;
}

.md-sb-button.md-sb-img-button {
  font-size: 17px;
  margin-left: 5px;
  box-shadow: 0 1px 5px #808080cc;
  border: 1px solid rgb(33, 150, 243);
  color: rgb(33, 150, 243) ;
  background-color: white ;
  padding-top: 5px;
}

.text-node-separator {
  border: none;
  font: normal normal normal 24px/1 "Material Design Icons";
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  color: #b5b5b5;
  text-align: center;
  text-shadow: 0 2px 1px rgba(128, 128, 128, 0.8);
}

.text-node-separator::before {
  content: "\F6BD"; 
}

.md-RichEditor-controls {
  padding-top: 2px;
  padding-bottom: 2px;
}

.md-editor-toolbar {
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625) !important;
  background-repeat: repeat-x !important;
}

.md-editor-toolbar .md-url-input {
  background-color: transparent !important;
}

.md-RichEditor-activeButton,
.md-RichEditor-styleButton:hover {
  color: #4da6ff !important;
  background-color: transparent !important;
}

.md-RichEditor-editor .md-RichEditor-blockquote, .md-block-blockquote {
  border-left: 3px solid rgba(43, 43, 43, 0.8) !important;
  color: #555 !important;
  font-size: 15px !important;
  padding: 10px 0 10px 15px !important;
  background-color: transparent !important;
  font-family: inherit !important;
  letter-spacing: inherit !important;
  margin: 0px;
}

.md-RichEditor-editor h1,
.md-RichEditor-editor h2,
.md-RichEditor-editor h3
 {
  line-height: 1.15 ;
  font-weight: 900;
  margin: 0 !important;
  color: #2c2d30;
  margin-top: 15px !important;
}

.md-RichEditor-editor h1 {
  font-size: 30px !important;
}

.md-RichEditor-editor h2 {
 font-size: 25px !important; 
}

.md-RichEditor-editor h3 {
 font-size: 20px !important; 
}

.card .brd {
  display: none
}

.embedly-card-url-container {
  text-align: center;
}

.md-block-with-data-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.md-block-with-data-background.open {
  border: solid 1px #4da6ff;
}

.md-block-with-data {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: all .1s ease;
  z-index: 2;
}

.md-block-with-data.size-1 {
  width: 230px
}

.md-block-with-data.size-2 {
  width: 400px
}

.md-block-with-data.size-3 {
  width: 600px;
}

.md-block-with-data.left {
  float: left
}

.md-block-with-data.right {
  float: right;
}

.md-block-with-data-menu {
  position: absolute;
  top: -28px;
  left: calc(50% - 102px);
  font-size: 14px;
  display: inline-block;
  border-right: 1px solid #555;
  color: #fff;
  cursor: auto;
  border-radius: 5px;
  z-index: 3;
  transition: all .1s ease;
  visibility: hidden; 
  box-shadow: 0 1px 3px 0 #747171;
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625) !important;
  background-repeat: repeat-x !important;
}

.md-block-with-data-menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #323845;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.md-editor-toolbar--isopen.md-block-with-data-menu {
  visibility: visible;
}

.md-RichEditor-styleButton > .icon {
  font-size: 19px
}

.md-RichEditor-styleButton.md-RichEditor-disabledButton {
  opacity: 0.5;
  cursor: default;
  color: white !important;
}

.md-block-caption .public-DraftStyleDefault-ltr {
  text-align: left;
  color: #5d5b5b;
  font-style: italic;
}

.public-DraftEditorPlaceholder-root {
  color: #989898 !important;
}

/* MediumEditor --*/

.comment-text p {
  margin: 0
}

.tooltip {
  position: absolute;
  z-index: 2000;
  display: block;
  font-size: 12px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.tooltip.bottom{
  margin-top: 10px;
  padding-top: 5px;
}


.tooltip.top{
  margin-bottom: 20px;
  padding-bottom: 5px;
}


.tooltip.left{
  margin-right: 10px
}


.tooltip.right{
  margin-left: 10px
}

.tooltip-inner {
  border-radius: 3px;
  padding: 3px;
  color: white;
  opacity: 0.98;

}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}


/* scrollbar */
.track {
  display: none;

}

._scrollbar > .track {
  display: block;
}


/* hide default webkit scrollbar */
.scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}

span.emoji {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 50%, 50%;
  background-size: contain;
}

span.emoji-sizer {
  line-height: 0.81em;
    font-size: 20px;
    vertical-align: top;
}

span.emoji-outer {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  height: 1em;
  width: 1em;
}

span.emoji-inner {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 1;
}

img.emoji {
  width: 1em;
  height: 1em;
}


pre.format-mrkdwn-pre, pre.md-block-code-block {
  margin: .5rem 0 .2rem;
  font-size: .75rem;
  line-height: 1.15rem;
  background: #f9f9f9;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
  padding: .5rem;
  font-variant-ligatures: none;
  word-break: normal;
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
}

.public-DraftStyleDefault-pre {
  background-color: transparent !important;
  font-size: inherit !important;
  padding: 0 !important;
  margin: 0 !important;
}

.public-DraftStyleDefault-pre pre {
  margin-top: unset !important;
  padding-top: .5rem !important;
  display: flex;
}

.md-block-with-data, .md-block-code-container  {
  display: flex;
}

.md-inline-highlight {
  background-color: rgba(3, 169, 244, 0.5);
  padding: 3px;
  border-radius: 3px;
}

code.format-code-var, code.md-inline-code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
  font-size: .75rem;
  line-height: .75rem;
  white-space: normal;
  color: #d72b3f;
  padding: 2px 3px 1px;
  font-variant-ligatures: none;
  tab-size: 4;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}

div.format-blockquote {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-left: 4px solid gray;
}

div.format-blockquote.danger{
  border-left: 4px solid rgb(163, 2, 0);
}

div.format-blockquote.success{
  border-left: 4px solid rgb(46, 184, 134);
}

div.format-blockquote.warning{
  border-left: 4px solid rgb(218, 160, 56);
}

div.format-blockquote.info{
  border-left: 4px solid rgb(65, 131, 196);
}

span.format-text-italic{
  font-style: italic
}

span.format-text-bold{
  font-weight: bold
}


span.format-text-underline{
  text-decoration: underline;
}

.mdi-set {
  overflow: inherit !important;
  height: initial !important;
  line-height: normal !important;
}

body {
  font-style: normal;
  font-family: "LatoWebMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
