
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: none !important
}

.emoji-mart-bar {
  background-color: #f9f9f9;
}

.emoji-mart-category-label span {
  font-weight: 700 !important;
}

.emoji-mart-search {
  margin-top: 10px;
  padding: 0 8px;
  margin-bottom: 5px;
}

.emoji-mart-category .emoji-mart-emoji span{
  cursor: pointer !important;
}

.emoji-mart-preview-emoji > .emoji-mart-emoji > span {
  width: 27px !important;
  height: 27px !important;
}

.DraftEditor-root{
	font-variant-ligatures: none;
	overflow: auto;
	max-height: 10rem;
	max-width: 100%;
	margin-right: 2px;
	position: relative;
	box-sizing: border-box;
	cursor: text
	outline: 0;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
    width: 100%;
}

.comment-text p {
	margin: 0
}

body {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  margin: 0;
}
