.panel.pontus-main-view > .panel-heading{
    height: 41px;
}

dd {
  margin-bottom: 7px; 
  margin-left: 10px
}

dt {
  margin-bottom: 3px; 
}

.content-title {
  font-weight: bold;
  margin-bottom: 22px
}

.content-title-sm {
    font-weight: normal;
}

a:focus {

    outline: medium none;
}

a:hover, a:focus {

    text-decoration: none;
}


.thumbnail.right-caption>img{float: left;margin-right: 9px;}
.thumbnail.right-caption{float: unset;}
.thumbnail.right-caption>.caption{padding: 4px;}

.switchchoice { padding-left: 10%;}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
    margin-top: 0;
}

#searchform label,
#searchform p {
  display: none;
}

.attached_contents{
    border-left: 4px solid #eeeeee;
    font-size: 13.5px;
    margin: 15px 0 0;
    padding: 0 11px;
}

.association-tag{
    font-size: 15px; 
    color: #5cb85c
}

.scroll-able {
    overflow: auto;
}


.scroll-choice {

    border: 1px solid threedlightshadow;
    border-radius: 6px;
    height: 132px;
    padding: 10px;

}

.result-scroll {
    border: 0;
    height: 1600px;
    padding: 0;
}

.comments-scroll {
    background-color: beige;
    border: 1px solid threedlightshadow;
    border-radius: 13px;
    height: 700px;
    padding: 7px;
}

.comment-data {
    border-radius: 13px;
}

.comment-association{
    background-color: #f7f7f7;
}

.comment-data, .img-thumbnail {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.075);
}

.comment-data, .btn-xs, .btn-group-xs > .btn {
    border-radius: 10px;
}

.commentulorigin {
   list-style:none;
   margin-left:0;
   padding-left:0;
}

.commentli {
margin-bottom:15px;
}

.commentli p {
    margin: 16px 0 0;
}

.commentul {
   list-style:none;
   margin-left:40px;
   padding-left:0;
}

#panel-actions-content {
    margin-top: 20px;
}

#panel-contributions {
    margin-top: 20px;
}

del {
  background-color: #ef827d;
}

ins {
  background-color: #89e189;
}

/*.amendment-diff del {
  background-color: #cc66cc;
}

.amendment-diff ins {padding: 19px 19px 0;
  background-color: #f19cf0;
}

.amendment-diff {
    margin-left: 19px; 
    margin-right: 19px;
}
*/
.object-description{
    margin-bottom: 40px;
    margin-top: -20px;
    color:gray;
}

.object-description-sm {
    margin-bottom: 10px;
}

.legend-carre-del{
	width:20px;
	height:20px;
	background:#ef827d;
        display: inline-block;; 
}

.legend-carre-ins{
	width:20px;
	height:20px;
	background:#89e189;
        display: inline-block;; 
}

.object-well{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px 19px 0;
}

.idea-well {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, -2px 3px 4px rgba(70, 178, 226, 0.16);
}

.amendment-well {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, -2px 3px 4px rgba(207, 35, 0, 0.20);
}

.proposal-well {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, -2px 3px 4px rgba(76, 164, 76, 0.16);
}

.thumbnail.right-caption > #idea-image {
    /**background-image: linear-gradient(to left, #effdea -100%, #93d91a 123%);**/
    background-image: linear-gradient(to left, #adcce7 -100%, #adcce7 123%);
    float: left;
    height: 184px;
    margin-left: -4px;
    margin-right: 9px;
    margin-top: -4px;
    width: 100px;
}

.thumbnail.right-caption > #person-image {
    background-image: linear-gradient(to left, #d3e1d3 -100%, #d3e1d3 123%);
    float: left;
    height: 144px;
    margin-left: -4px;
    margin-right: 9px;
    margin-top: -4px;
    width: 100px;
}

.thumbnail.right-caption > #proposal-image {
    background-image: linear-gradient(to left, #f0f0f0 -100%, #f0f0f0 123%);
    float: left;
    height: 144px;
    margin-left: -4px;
    margin-right: 9px;
    margin-top: -4px;
    width: 100px;
}

.thumbnail.right-caption > #amendment-image {
    background-image: linear-gradient(to left, #fdb677 -100%, #fdb677 123%);
    float: left;
    height: 205px;
    margin-left: -4px;
    margin-right: 9px;
    margin-top: -4px;
    width: 100px;
}

.edit-amendment-action {
    margin-top: -22px;
}

.amendment-body {
    padding: 6px;
    margin: -20px 0;
}

.amendment-body h3.content-title{
    font-weight: normal;
}

margin-bottom: 22px;
.amendment-trimmed-text {
  height: 150px
}

.amendment-intention {
  height: 189px
}

.modal-amendments-vote {
    margin-left: -50%;
    width: 180%;
}

.modal-amendments-vote form .panel{
    box-shadow: 5px 6px 5px rgba(25, 40, 21, 0.2);
    background-color: #f2f6fa;
}

.correction-favour-vote {
    border: 3px solid #44f144;
    border-radius: 4px;
}

.correction-against-vote {
    border: 3px solid #ff0d11;
    border-radius: 4px;
}

.navbar-entity{
   margin-top: -57px;
}

.navbar-entity .navbar-collapse{
    margin-left: -47px; 
    margin-right: -33px
}

.navbar-entity .nav > li > a {
    background-image: linear-gradient(to bottom, #d9eaf9 -100%, #9bbcd8 88%);
    background-repeat: repeat-x;
    border-color: #ddd;
    border-radius: 0;
    color: white;
    font-weight: bold;
    height: 42px;
    line-height: 10pt;
    min-width: 70px;
    padding: 10px;
}

.navbar-entity .navbar-nav{
    margin-top: -9px;
}

.navbar-entity .nav > li > a span{
  font-size: 15px
}

.navbar-entity .nav > li > a:hover, .navbar-entity .nav > li > a:focus, .navbar-entity .nav > li > a:active {
    background-image: linear-gradient(to bottom, #d9eaf9 -31%, #9bbcd8 0%);
    background-repeat: repeat-x;
    color: white;
    height: 42px;
    border-radius: 0px;
    border-color: #ddd;
    padding: 10px;
    font-weight: bold;
}

.navbar-entity .nav.navbar-right > li > a{
  margin-left: -5px;
}

.navbar-entity .nav:not(.navbar-right) > li > a{
  margin-right: -5px;
}

.user-global-actions {
    margin-right: -16px;
    margin-top: -57px;
}

.user-global-actions .btn span{
  font-size: 15px
}


#text-actions{
    height: 42px
}


.content-text{
    margin-left: 19px; 
    margin-right: 19px;
}

.content-text-scroll{
   height:600px;
   overflow: auto;
}

.filigrane-project{
    background-image: url("../images/filigran.png");
    background-repeat: repeat;
}

.content-title-body{
    margin-left: 19px; 
    margin-right: 0;
    margin-top: 15px;
}


.btn-wg {
    border-radius: 4px;
}

.col-bloc {
    border: 1px solid graytext;
    border-radius: 13px;
}

.proposal-support {
    margin-bottom: 10px;
    margin-top: 5px;
}

.proposal-members-nb {
    font-size: 16px;
    vertical-align: middle;
    margin-top: 5px;
}

.proposal-support .label .glyphicon {
    vertical-align:middle;
    font-size: 16px
}

.proposal-support .label .support-nb {
    vertical-align:middle;
    font-size: 16px
}

.proposal-support .label-danger {
    margin-left: 5px
}

.form-proposal-confirmation{
    display: none;
}

.global-actions-menu{
    margin-bottom: 8px; 
}

.global-actions-menu .action-1 {
    margin-left: 390px;
} 

.global-actions-menu a {
    width: 262px;
}

.item-closed {
	background: transparent url(../images/open_button.png) center right no-repeat;
        padding-bottom: 12px;
        padding-right: 32px;
        padding-top: 4px;
}

.del-item {
	background: transparent url(../images/del_button.png) center right no-repeat;
    margin-right: -3px;
    padding-bottom: 10.5px;
    padding-right: 39px;
    padding-top: 5px;
    cursor: -moz-grab;

}

.disabled-del-item {
	background: transparent url(../images/del_button_disabled.png) center right no-repeat;
    margin-right: -3px;
    padding-bottom: 10.5px;
    padding-right: 39px;
    padding-top: 5px;
    cursor: no-drop;
}

.item-closed:hover { background: transparent url(../images/open_button_over.png) center right no-repeat; }

.del-item:hover { background: transparent url(../images/del_button_over.png) center right no-repeat; }

.panel-group .panel.controllable-item{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
   border: 1px solid #c0c0c0;
}
.controllable-items .panel-heading {
   padding: 3px 1px 6px 3px;
}

.controllable-items {
    background-color: #e3e5e1;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px;
}


.panel.controllable-item .panel-title {
    font-size: 15px;
}

.hide-bloc{
    display: none;
}

#item-datas.scroll-able {
    height: 200px
}
/*.idea-managements.navbar-fixed-top {
    border-width: 0 0 1px;
    margin-left: 75%;
    top: 0;
    width: 24%;
}*/

.idea-managements{
 margin-top: 66px;
}

.idea-managements .panel-body{
    padding: 3px;
}

.add-idea-form{
  border: solid 1px #e1e2e3; 
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.label-basic {
    border: 1px solid steelblue;
    color: steelblue;
    background-color: white;
    font-size: 65%;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset,  0 3px 2px rgba(0, 0, 0, 0.1);
}

.panel-heading .label-basic{
    font-size: 14px
}

.menu-access-action{
    background: none repeat scroll 0 0 steelblue;
    border: 4px solid white;
    border-radius: unset;
    color: white;
    font-size: 14px;
    margin-bottom: -9px;
    max-width: 300px;
    text-align: center;
}

.access-menu > li > a {
    display: block;
    padding: 10px 0;
    position: relative;
    width: 101%;
}

.menu-access-action.disabled{
    background: none repeat scroll 0 0 #adcce7;
    cursor: not-allowed;
}

.access-menu > li {
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
}

.nav.access-menu {
 padding-left: 0;
 margin-top: 18px;
}


.nav.access-menu > li > a:hover, .nav > li > a:focus {
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
}

.nav.access-menu > li > a.disabled:hover, .nav > li > a.disabled:focus {
    background: #adcce7;
    color: white;
    text-decoration: none;
}

.menu-access-action.active{
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
}

.ajax-form{
    margin-top: 30px
}

.ajax-form .control-form-button, .comment-replay-nb{
    color: gray;
    cursor: grab;
    font-size: 15px;
    font-weight: lighter;
    margin-top: -20px
}



.ajax-form .control-form-button:hover, .comment-replay-nb:hover{
    color: #4ca44c;
}

.ajax-form form {
    padding: 20px;
}
/*http://helping.probb.fr/t14-code-css-pour-aligner-un-texte-incline-au-centre-d-une-page-a4*/
.content-text #filigrane{ 
    color: #ef827d;
    display: inline-block;
    font-family: Arial Black;
    font-size: 46px;
    height: 0;
    margin-left: 29%;
    margin-top: -18%;
    opacity: 0.11;
    text-align: center;
    transform: rotate(325deg);
    vertical-align: middle;
    width: 0;
        -ms-transform:rotate(325deg);   
        transform: rotate(325deg);
        -moz-transform: rotate(325deg);
        -webkit-transform: rotate(325deg);
        -khtml-transform: rotate(325deg);
}

.mce-edit-area body { font-size: 14px; }


.btn-black {
    background-image: linear-gradient(to bottom, black 0%, #3d3d3d 100%);
    background-repeat: repeat-x;
    border-color: black;
    color: #ffffff;
    padding: 6px;
}


.btn-white {
    background-image: linear-gradient(to bottom, white 0%, #e4e4e4 100%);
    background-repeat: repeat-x;
    border-color: #b5b3b0;
    color: #585d52;
    padding: 6px;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
    background-color: #272727;
    background-image: linear-gradient(to bottom, black 0%, #272727 100%);
    border-color: black;
    color: #ffffff;
}

.btn-blue,
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active{
    background-image: linear-gradient(to bottom, #3e85c3 0%, #3e85c3 100%);
    background-repeat: repeat-x;
    border-color: #3e85c3;
    color: #ffffff;
    padding: 6px;
}


.btn-black:hover, 
.btn-black:focus, 
.btn-black:active,
 {
    background-color: #272727;
    background-image: linear-gradient(to bottom, black 0%, #272727 100%);
    border-color: black;
    color: #ffffff;
}

.search-idea-bloc{
    border: 1px solid #e3e3e3;
    border-radius: 11px;
    margin-bottom: 34px;
    margin-left: 6px;
    width: 279px;
}

.intention-bloc{
    border-top: 3px double gray;
    margin-top: 12px;
    padding: 30px 9px 9px;
}

.explanations-bloc{
    padding: 9px; 
}

.explanation-modal{
    margin-top: 66px
}

.explanation-modal .modal-body {
    padding: 4px;
}

.new-idea-form{
    padding: 13px;
    margin-top:33px;
   border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, -2px 3px 4px rgba(122, 122, 122, 0.2);
}

.intention-separator{
    background-color: white;
    color: gray;
    float: left;
    font-size: 24px;
    margin-left: -12px;
    padding-left: 10px;
    padding-right: 7px;
}

.explanation-comment{
    font-size: 19px;
    color: #ecae1b;
    cursor: pointer;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5)
}

.explanation-comment:hover{
    color: #eced1b;
}


.new-idea-btn{
  margin-top: -22px
}
