.thumbnail.right-caption>img{float: left;margin-right: 9px;}
.thumbnail.right-caption{float: unset;}
.thumbnail.right-caption>.caption{padding: 4px;}
.navbar .brand {
    color: #53564e;
    display: block;
    float: left;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
    margin-left: -20px;
    padding: 0 20px;
    text-shadow: 2px 2px 1px #fff;
    text-transform: uppercase;
}
.navbar .brand:hover, .navbar .brand:focus {
    text-decoration: none;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
    margin-top: 0;
}

#searchform label {
  display: none;
}

#searchform p {
  display: none;
}

.switchchoice{
    margin-top:12px;
}

.attached_files{
    border-left: 4px solid #eeeeee;
    font-size: 13.5px;
    margin: 0 0 20px;
    padding: 0 11px;
}

.scroll-able {
    overflow: auto;
}

.scroll_choice {

    border: 1px solid threedlightshadow;
    border-radius: 6px;
    height: 132px;

}

.result-scroll {
    border: 0;
    height: 1600px;
    padding: 0;
}

.comments-scroll {
    background-color: beige;
    border: 1px solid threedlightshadow;
    border-radius: 13px;
    height: 700px;
    padding: 7px;
}

.comment-data {
    border-radius: 13px;
}

.comment-data, .img-thumbnail {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.075);
}

.comment-data, .btn-xs, .btn-group-xs > .btn {
    border-radius: 10px;
}

.commentulorigin {
   list-style:none;
   margin-left:0;
   padding-left:0;
}

.commentli {
margin-bottom:15px;
}

.commentli p {
    margin: 16px 0 0;
}

.commentul {
   list-style:none;
   margin-left:40px;
   padding-left:0;
}

#panel-actions-idea {
    margin-top: 20px;
}

#panel-contributions {
    margin-top: 20px;
}

del {
background-color: red;
}

ins {
background-color: springgreen;
}

.legend-carre-del{
	width:20px;
	height:20px;
	background:red;
        display: inline-block;; 
}

.legend-carre-ins{
	width:20px;
	height:20px;
	background:springgreen;
        display: inline-block;; 
}
