.select-container{
    background-color: white;
/*    border: 1px solid #8d8d8d;
    box-shadow: -1px 0 4px 1px rgba(0, 0, 0, 0.28) inset;*/
    min-height: 65px;
    padding: 7px;
}

.select-item{
 margin-right: 4px;
}

.form-control.title-select-item{
    padding: 1px;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-shadow: none;
    background-color: white;
}

.remove-item{
    float: right;
    height: 28px;
    margin-right: 3px;
    margin-top: -30px;
    width: 28px;
    cursor: pointer;
}

.disabled-remove-item{
    float: right;
    height: 28px;
    margin-right: 3px;
    margin-top: -30px;
    width: 28px;
}

.sequence-add-item{
    cursor: pointer;
    float: right;
    height: 28px;
    margin-top: -28px;
    width: 28px;
    margin-top: 30px;

}


.form-group.sequence-item{
    border: 1px solid #428bca;
    border-radius: 4px;
    margin-bottom: 1px;
    padding: 0;
}  

.form-group.sequence-item-error{
   border-color: #a94442;
   color: #a94442;
   box-shadow: 0 8px 8px -6px #e8c7c7;
}

.exists-item{
    background-color:  #ef827d;
    box-shadow: -1px 0 4px 1px rgba(0, 0, 0, 0.28) inset;
}

.not-exists-item{
    background-color:  #89e189;
    box-shadow: -1px 0 4px 1px rgba(0, 0, 0, 0.28) inset;
}

.amendment-diff-scroll{
    border-radius: 5px;
    box-shadow: -1px 0 4px 1px rgba(0, 0, 0, 0.28) inset;
    height: 200px;
    margin-bottom: 10px;
    padding: 12px;
}



.sequence-item .form-group.col-md-4{
    padding: 0 5px 0 5px;
}

.sequence-item .row{
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-right: 5px;
}


.form-group.sequence-item:hover{
   border-color: #8d8d8d;
   box-shadow: 0 2px 2px 0px rgb(68, 68, 68);
}

.drag-drop-panel a.deform-seq-add {
  margin-top: -30px;
}


.header.sequence-item .row{
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}

.header.sequence-item .title{
  margin-bottom: 2px;
  margin-top: 2px;
}

.form-group.header.sequence-item {
  background-color: #428bca;
  border: 1px solid #428bca;
  border-radius: 4px;
  color: white;
  margin-bottom: 1px;
  padding: 0;
}